span.text_info {
  min-height: 16px;
  width: 100%;
  margin-top: -4px;
  font-size: 12px;
  color: var(--primary-color);
  display: flex;
  column-gap: 5px;
  align-items: center;
}

span.text_info span {
  color: var(--disabled-color);
}
